/*Ajout des fonts*/

@font-face{
	font-family: "Caviar";
	src: url('../fonts/CaviarDreams.ttf');
}
@font-face{
	font-family: "Stroke";
	src: url('../fonts/Distant_Stroke.otf');
}

/*Fin fonts*/

/*Scrollbar perso*/

::-webkit-scrollbar {
    width: 16px;
    background-color: #fff
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    background-color: #fff; 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px #1c94a3; 
    background-color: #1c94a3;
    border-radius: 5px;
}

.slide-profil{display: none;font-family: "Caviar";
    padding: 2%;}


/*Fin scrollar*/


#section_employeur, #section_etudiant, #section_carousel, #section_profiletudiant, #section_profilemployeur{
	display: none;
}


#section_profiletudiant h1, #section_profilemployeur h1{
	font-size: 4vw;
	color: #1c94a3;
	font-family: "Caviar";
	margin: 0%;
}

#section_profiletudiant h2, #section_profilemployeur h2{
	margin: 0%;
}

#section_resetpassword form{
    border-radius: 10px;
    margin-top: 10%;
    padding: 2%;
    background-color: #fff;
    display: block;
    text-align: center;
}

#section_resetpassword{
	background-color: black
}

#section_resetpassword h1{
	font-size: 4vw;
	margin: 0%;
	color: #1c94a3;
	text-shadow: 0 0 1px #000;
}
#section_resetpassword h2{
	margin: 0% 0% 5% 0%;
}

#section_resetpassword input, #section_resetpassword button{
	margin: 0% 0% 1% 0%;
	padding: 1%;
}

body{
	margin: 0;
	/*background: url(../img/babysitter.jpg) no-repeat;*/
	font-weight: 700;
	font-family: "Caviar";
}

.header{
  height: 100%;
  padding: 1% 0% 15% 0%;
  margin: 0px;
  background: url('../img/babysitter.jpg') no-repeat center;
}

.step-section{
	margin-top: 2%;
	padding-top: 1%;
	color: black;
	z-index: 10;
	background-color: #fff;
}

.step-section .step{width: 80%; margin: auto; text-align: center}

.main{
	margin-bottom: 0%;
	margin-top: 0;
	font-size: 3vw; 
	color: #fff;
	margin-top: 5%;
	font-family: 'Caviar';
}

.main-description{
	margin-top: 0;
	font-size: 2vw; 
	color: #fff;
	margin-top: 0%;
	font-family: 'Caviar';
}

.tarifs{
	margin-top: 5%;
	text-decoration: none; 
	color: #fff;
}

.tarifs:hover{
	color: #fff; 
	cursor: pointer;
}

.validation_offre{
	display: none;
	padding-top: 5%;
}

.btn-custom{
	background-color: #1c94a3;
	color: #fff;
	padding: 0.5%;
	font-size: 2vw;
	margin-top: 5%;
	border: 2px #1c94a3 solid;
	font-family: 'Caviar';
	transition: 0.4s;
}

.download_file .btn-danger{
	padding: 2%;
	float: none;
	font-size: 1vw;
}

.btn-success{
	border-radius: 0px;
    background-color: #28c223;
    font-size: 1.5vw;
    padding: 2%;
    border: 0px;
    transition: 0.4s;
}

.btn-success:hover{
	transition: 0.4s;
	border-radius: 10px;
}

.btn-danger{
	border-radius: 0px;
    background-color: #ff0000;
    font-size: 1.5vw;
    padding: 2%;
    border: 0px;
    transition: 0.4s;
}

.btn-danger:hover{
	transition: 0.4s;
	border-radius: 10px;
}

.btn-custom:hover{
	background-color: #fff;
	border : 2px #1c94a3 solid;
	color: #1c94a3; 
	transition: 0.4s;
}

.btn-custom-red{
	background-color: #ff0000;
	color: #fff;
	padding: 0.5%;
	font-size: 2vw;
	margin-top: 5%;
	border: 2px #ff0000 solid;
	font-family: 'Caviar';
	transition: 0.4s;
}

.btn-custom-red:hover{
	background-color: #fff;
	border : 2px #ff0000 solid;
	color: #ff0000; 
	transition: 0.4s;
}

.btn-login{
	background-color: #1c94a3;
	color: #fff;
	padding: 0.6%;
	font-size: 1.2vw;
	border: 5px #1c94a3 solid;
	transition: 0.4s;
}

.btn-login:hover{
	background-color: rgba(28, 148, 163, 0);
	color: #1c94a3;
	border: 5px #1c94a3 solid;
	transition: 0.4s;
}

.btn-etudiant, .btn-employeur{
	background-color: rgba(239, 239, 206, 0);
	border: 5px #fff solid;
	color: #fff;
	padding: 0.6%;
	width: 11%;
	font-size: 1.2vw;
	transition: 0.4s;
}

.btn-etudiant:hover, .btn-employeur:hover{
	background-color: #CCCCCC;
	border: 5px #CCCCCC solid;
	color: #fff;
	transition: 0.4s;
}

.categorie{
	text-align: right; 
	margin: 1% 1% 0% 0%;
}

.logo{
	margin-top: -3%;
	color: #fff;
	font-family: 'Caviar';
}

.logo img{
	width: 11%;
}

.title{text-align: center; color: #fff; transition: 0.4s; font-family: "Stroke"; font-size: 3vw; margin :0%;}
.title:hover{text-shadow: 1px 1px 5px #fff; transition: 0.4s; cursor: pointer;}

.social-media{
	margin: 0% 0% 0% 2%;
	position: absolute;
}

.social-media .fa{
	color: #fff;
	transition: 0.4s;
	font-size: 3vw;
}

.social-media .fa:hover{
	color: #0088CC; 
	transition: 0.4s;
}

.social-media a{
	color: #fff;
	margin: 0;
	text-decoration: none;
	transition: 0.6s;
}

.social-media a:hover{
	color: #ff0000;
	transition: 0.6s;
}

.modal-content{
	background-color: #fff; 
	color: #1C94A3; 
	text-shadow: 0 0 1px #1C94A3;
	border-radius: 0px;
}

.modal-content form input{
	font-size: 1vw;
	padding: 2%;
	margin: 1%;
}

.modal-title{
	text-align: center;
	font-size: 30px;
	border: 0px;
}

.modal-body{padding: 0; border: 0px;}
.modal-body p{text-align: center;}
.modal-header{border: 0px;}
.modal-header p {color: black; text-shadow: 0 0 0 #fff;}

#carousel-example-generic{
	position: fixed; 
	margin: 0; 
	z-index: -1; 
	margin-top: -5%
}

.carousel-control{
	display: none;
}

.carousel-caption h1{
	margin-bottom: 20vw;
	margin-top: 5vw; 
	z-index: 10;
	font-size: 2vw;
}

footer ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0% 2% 0% 2%;
	color: #fff;
	transition: 0.4s;
}

footer ul{
	margin: 0;
	padding: 0;
}

footer{
	padding: 2%;
  	margin-top: 5%;
  	width: 100%;
}

footer ul li:hover{
	color: #fff;
	transition: 0.4s;
	text-shadow: 1px 1px 5px #fff;
}


/*Formulaire de contact*/

.contact{
	border-radius:10px;
	margin: 5% auto 0% auto;
	padding: 2%;
	background-color: #fff;
}

.contact input, .contact select{
	padding: 0.5%;
	margin: 1%;
}

.contact h3{
	
}



/* L'équipe */

.profil{ 
	padding: 1%; 
	border: 1px black solid; 
	margin-bottom: 5%
}

.member img{
	width: 100%; 
	border: 1px black solid;
	border-radius: 5px;
}

.profil img:hover{
	transition: 0.4s
}

.team{
	text-align: center; 
	border-top: 1px black solid; 
	margin-top: 2%
}

.team h1{
	margin: 3%;
}

.team span{
	display: none
}

.team span:hover{
	display: block;
  	padding: 10%; 
	font-size: 20px
}

.team-info{
	width: 90%;
	display: none; 
	position: absolute; 
	background-color: black; 
	opacity: 0.8; 
	color: #fff; 
	z-index: 10; 
	padding: 2%;
}

.team-info ul li{
	list-style-type: none
}

.team-info ul{
	padding: 0;
	margin: 0
}

.team-info .light-coral{
	color: #1c94a3
}

.lorem{
	margin-top: 50%
}

.contact_us{
	margin-top: 5%;
	margin-bottom: 0;
	border-top: 1px #fff solid; 
	padding: 2%; 
	background-color: #3C3C3C; 
	color: #fff;
	font-family: "Caviar";
}

.contact_us h3{
	font-size: 2vw;
}

.contact_us h1 a{
	color: #1c94a3;
}

.social ul li{
	list-style-type: none; 
	display: inline-block; 
}

.social ul li a{
	color: #fff;
	transition: 0.4s
}

.social ul li a:hover{
	color: #1C94A3; 
	transition: 0.4s
}


/*Liste postulants*/

#section_profilemployeur h1{
	text-align: center;
}

#section_profilemployeur .container.validation_offre h1{
	text-align: left;
}



/*Formulaire de création d'une offre*/

.offer{
	margin: 15% 0% 0% 0%;
	padding: 5%;
	border-radius: 5px;
	max-height: 500px;
	min-height: 500px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
}

.profil_entreprise{
	margin: 5% 0% 0% 0%;
	padding: 0%;
	border-radius: 5px;
}

.profil_entreprise_logo{
	margin: 5% 0% 0% 0%;
	padding: 5%;
	border-radius: 5px;
}

.offer span, .profil_entreprise span{
	color: #ff0000;
}

textarea{
	max-width: 50%;
  max-height: 20%;
}

.poster{
	margin-left: 80%;
	padding: 0;
}

.remove{
	margin-left: 90%;
}

.offer input, .offer textarea, .profil_entreprise input, .profil_entreprise textarea, .profil_entreprise select{
	padding: 0.5%;
	margin: 0% 2% 2% 2%;
	background-color: #fff;
}

.offer button, .profil_entreprise button{
	padding: 0.5%;
	margin: 0% 2% 2% 2%;
	background-color: #1C94A3;
	border: 2px #1C94A3 solid;
	color: #fff;
	transition: 0.6s;
}

.offer button:hover, .profil_entreprise button:hover{
	transition: 0.6s;
	color: #1C94A3;
	border: 2px #1C94A3 solid;
	background-color: rgba(0,0,0,0);
}

.offer label, .profil_entreprise label{
	margin: 0.5% 0% 0% 0%;
}


/* Barre latérale */

.lateral{
	background-color: #3C3C3C;
	width: 5%;
	margin: 0;
	padding: 0.5%;
	position: fixed;
	overflow-x: hidden;
	z-index: 100;
	height: 100%;
	border: 1px #fff solid;
	font-family: "Caviar";
	transition: 0.6s;
}

.lateral:hover{
	padding: 0.5%;
	width: 15%;
	transition: 0.6s;
}

.lateral .student{
	margin-top: 20%;
}

.lateral ul li{
	border-top: 1px #fff solid;
	border-bottom: 1px #fff solid;
	color: #fff;
	transition: 0.4s;
}

.lateral ul li:hover{
	transition: 0.4s;
	color: #1c94a3;
}

.lateral .fa{
	color: #1c94a3;
}

.lateral-aside{
	display: none;
}

.span-hide{
	margin-top: 50%;
}

.lateral .logout{
	margin-top: 50%;
}

.lateral .logo img{
	width: 100%;
	max-height: 100%;
}

.profil_logo input{
	background-color: #000;
	word-break: break-all;
	width: auto;
	font-size: 1vw;
}

.profil_logo{
	display: none;
	margin: 1% 0% 20% 0%;
}


/*Résumé de l'offre*/

.offer_submit{
		padding: 2%;
	background-color: #fff;
	border-top: 1px #1C94A3 solid;
	border-bottom: 1px #555 solid;
	border-right: 1px #555 solid;
	border-left: 1px #555 solid;
	width: 50%;
	overflow-x: scroll;
	word-wrap: break-word;
	color: black;
}

.offer_list{
	padding: 2%;
	background-color: #fff;
	border-top: 1px #1C94A3 solid;
	border-bottom: 1px #555 solid;
	border-right: 1px #555 solid;
	border-left: 1px #555 solid;
	overflow-x: scroll;
	word-wrap: break-word;
	color: black;
	margin-top: 5%;
	font-family: "Caviar";
}

.offer_list img{
	width: 20%;
}

.offer_submit .user{
	color: #ff0000;
	margin-bottom: 4%;
	width: 100%;
}

.offer_submit h1{
	font-size: 1vw;
}

.user{
	color: #1C94A3;
}

.user_postulants{
	color: #ff0000;
}


/* Redirection pour création du profil étudiant*/


.redirection{
	color: #1C94A3;
	text-align: center;
	margin-top: 15%;
	padding: 1%;
}

.redirection h3{
	font-size: 3vw;
	font-family: "Caviar";
}

.redirection .fa{
	color: #ff0000;
}


/*Formulaire création du compte étudiant*/

.creation_etudiant{
	padding: 2%;
	font-family: "Caviar";
}

.creation_etudiant select{
	background-color: #1C94A3;
	color: #fff;
	border: 2px #1C94A3 solid;
}

.creation_etudiant select:hover{cursor: pointer;}

.creation_etudiant input{
	padding: 0.5%;
	border: 2px #1C94A3 solid;
	margin: 0.5%;
}

.creation_etudiant p{
	font-size: 1.2em;
	margin-top: 2%;
}


/* Reset du mot de passe */

.password_send{
	color: #ff0000;
	text-decoration: underline;
}

.box{
	background-color: #fff;
	text-align: center;
	color: #146E7A;
	padding: 2%;
	border: 4px #146E7A solid;
	margin-top: -10%;
	font-size: 2vw;
}

/* Fade pour js */

/*.carousel, .container{display: none}*/


/*Balises de submit CV*/

.cv_lettre_submit{
	color: #1C94A3;
	text-align: center;
	margin-top: -25%;
	background-color: #fff;
	padding: 2%;
	border: 2px #1c94a3 solid;
}

/* Mention obligatoire */

.red{
	color: #ff0000;
	text-shadow: 0 0 1px #ff0000;
}



/*Query pour téléphone*/

@media screen and (max-width: 768px){
	#section_etudiant .social-media .fa, #section_employeur .social-media .fa{
		font-size: 8vw;
	}
	.btn-etudiant, .btn-employeur, .btn-login{
		padding: 1%;
		width: auto;
		font-size: 3vw;
	}
	.logo{
		margin-top: 10%;
	}
	.logo img{
		width: 30%;
	}
	.title{
		font-size: 10vw;
	}
	.main{
		font-size: 5vw;
	}
	.main-description{
		font-size: 4vw;
	}
	.btn-custom{
	    padding: 2%;
    	font-size: 5vw;
	}
	.header{
		height: auto;
	}

}